<!DOCTYPE html>
<html>
  <head>
    <title><%= obplayer.HTTPAdmin.title %></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="extras/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="extras/select2.min.css">
    <script type="text/javascript" src="/extras/jquery.min.js"></script>
    <script type="text/javascript" src="/extras/select2.min.js"></script>
    <script type="text/javascript" src="/utils.js"></script>
    <script type="text/javascript" src="/site.js" defer></script>
    <!-- <script type="text/javascript" src="/common.js" defer></script> -->

    <% if obplayer.Config.setting('http_show_location'): %>
      <link rel="stylesheet" href="/extras/leaflet.css" />
      <script src="/extras/leaflet.js"></script>
      <script src="/extras/leaflet.draw.js"></script>
      <script type="text/javascript" src="/map.js"></script>
    <% end %>

  </head>
  <body>
    <div id="top_nav" class="d-flex justify-content-around">
      <a href="/"><img src="/oblogo.svg" width="150"></a>
      <h1><%= obplayer.HTTPAdmin.title %></h1>
      <div id="commands" data-tns="Miscellaneous">
        <% if obplayer.Config.setting('scheduler_enable'): %>
        <button class="btn btn-primary" id="maintenance_btn" type="button">Maintenance</button>
        <% end %>
        <% if obplayer.Config.setting('station_override_enabled'): %>
        <button type="button" id="override_btn" class="btn btn-primary override-btn override-start">Override</button>
        <% end %>
        <% if obplayer.Config.setting('streamer_enable'): %>
        <button class="btn btn-primary" id="open_streams_btn" type="button">Open Audio Streams...</button>
        <% end %>
        <button class="btn btn-danger" id="command_restart" type="button" data-t>Restart</button>
        <button class="btn btn-primary" id="command_fullscreen" type="button" data-t>Fullscreen (<%= obplayer.HTTPAdmin.fullscreen_status() %>)</button>
      </div>
    </div>

    <div class="modal" tabindex="-1" id="stream_players" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Live Stream Audio</h5>
            <button type="button" class="btn btn-close" id="modal_close_btn" aria-label="Close">&times;</button>
          </div>
          <div class="modal-body">
            <ul>
              <% if obplayer.Config.setting('streamer_0_icecast_enable'): %>
              <li>
                <h4>Stream One</h4>
                <audio src="http://<%= obplayer.Config.setting('streamer_0_icecast_ip') %>:<%= obplayer.Config.setting('streamer_0_icecast_port') %>/<%= obplayer.Config.setting('streamer_0_icecast_mount') %>" controls type="audio/mpeg" class="audio_player">
                </audio>
              </li>
              <% end %>
              <% if obplayer.Config.setting('streamer_1_icecast_enable'): %>
              <li>
                <h4>Stream Two</h4>
                <audio src="http://<%= obplayer.Config.setting('streamer_1_icecast_ip') %>:<%= obplayer.Config.setting('streamer_1_icecast_port') %>/<%= obplayer.Config.setting('streamer_1_icecast_mount') %>" controls type="audio/mpeg" class="audio_player">
                </audio>
              </li>
              <% end %>
              <% if obplayer.Config.setting('station_override_enabled'): %>
              <li>
                <h4>Local Override Stream</h4>
                <audio src="http://<%= obplayer.Config.setting('station_override_server_ip') %>:<%= obplayer.Config.setting('station_override_server_port') %>/<%= obplayer.Config.setting('station_override_server_mountpoint') %>" controls type="audio/mpeg" class="audio_player">
                </audio>
              </li>
              <% end %>
              <% if obplayer.Config.setting('streamer_0_icecast_enable') == False and obplayer.Config.setting('streamer_1_icecast_enable') == False and obplayer.Config.setting('station_override_enabled') == False: %>
              <p>No streams are enabled at this time. Go to the streaming page to enable one of the icecast streams.</p>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if obplayer.Config.setting('http_admin_tos_ui_agreed', True) == False: %>
    <div class="modal" id="tos_modal" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content m-2">
          <h3 class="m-2">Terms of Service Agreement</h3>
          <textarea class="tos_textarea" readonly rows="20">
            <%= obplayer.Config.setting('http_admin_tos_ui_current_tos_text') %>
          </textarea>
          <div class="d-flex">
            <button class="btn btn-primary m-2" type="button" id="tos_agree_btn">Agree</button>
            <button class="btn btn-primary m-2" type="button" id="tos_disagree_btn">Disagree & exit</button>
          </div>
        </div>
      </div>
    </div>
    <script defer>
      document.getElementById('tos_agree_btn').addEventListener('click', e => {
        site.Handle_TOS_Agree(e);
      });
      document.getElementById('tos_disagree_btn').addEventListener('click', e => {
        site.Handle_TOS_Disagree(e);
      });
    </script>
  <% end %>

    <div class="messages">
      <% if obplayer.Config.setting('http_admin_password_default',True): %>
        <div id="password-change-modal" class="modal" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="alert alert-warning">You must change the admin, & user password before entering the system!</div>
              <div class="modal-body">
                <form action="">
                  <label for="">
                    Admin Password
                  </label>
                  <input class="form-control" type="password" id="http_admin_password">
                  <label for="">
                    Admin Password Repeat
                  </label>
                  <input class="form-control" type="password" id="http_admin_password_retype">
                  <label for="">
                    User Password
                  </label>
                  <input class="form-control" type="password" id="http_user_password">
                  <label for="">
                    User Password Repeat
                  </label>
                  <input class="form-control" type="password" id="http_user_password_retype">
                  <button id="password_change_save_btn" type="button" class="btn btn-primary">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script defer>
          document.getElementById('password_change_save_btn').addEventListener('click', (e) => {
            site.update_password(e);
          });
        </script>
      <% end %>

      <% if sys.version_info.major == 2: %>
        <div class="alert alert-warning">This version of obplayer 5.0 is running on python2.  Please <a href="http://support.openbroadcaster.com/python3-upgrade">upgrade</a> your system dependencies and restart.</div>
      <% end %>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="d-md-none d-lg-block col-lg-2">
          <aside>
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <button class="nav-link btn btn-link selected" data-href="#" disabled>Status</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-link" data-href="./summary.html" disabled>Summary</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-link" data-href="./admin.html" disabled>Admin</button>
                </li>
                <% if obplayer.Config.setting('http_show_sync'): %>
                <li class="nav-item">
                  <button class="nav-link btn btn-link" data-href="./sync.html" disabled>Sync/Media</button>
                </li>
                <% end %>
                <li class="nav-item">
                  <button class="nav-link btn btn-link" data-href="./sources.html" disabled>Sources</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-link" data-href="./outputs.html" disabled>Outputs</button>
                </li>
                <% if obplayer.Config.setting('http_show_streaming'): %><li class="nav-item"><button class="nav-link btn btn-link" data-href="./streaming.html" data-content="streamer" data-tns="Streamer Tab" disabled>Streaming</button></li><% end %>
                <% if obplayer.Config.setting('http_show_alerts'): %><li class="nav-item"><button data-content="alerts" data-tns="Alerts Tab" data-t class="nav-link btn btn-link" data-href="./alerts.html" disabled>Emergency Alerts</button></li><% end %>
                <!-- <% if obplayer.Config.setting('http_show_location'): %><li class="nav-item"><button data-content="location" data-tns="Location Tab" data-t class="nav-link btn btn-link" data-href="./location_map.html" disabled>Location Map</button></li><% end %> -->
                <li class="nav-item">
                  <li class="nav-item"><button data-content="http" data-tns="HTTP Tab" data-t class="nav-link btn btn-link" data-href="./http_admin.html" disabled>HTTP(S) Admin</button></li>
                </li>
                <% if obplayer.Config.setting('http_show_liveassist'): %><li class="nav-item"><button data-content="liveassist" data-tns="LiveAssist Tab" data-t class="nav-link btn btn-link" data-href="./live_assist.html" disabled>Live Assist</button></li><% end %>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="col-lg">
          <div id="content_container" class="container-fluid">
            <div id="content-status" data-tns="Status Tab">
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div id="show-summary" class="summary">
                    <h4 data-t>Show</h4>
                    <div>
                      <label><span data-t>Current Time</span>:</label>
                      <span id="show-summary-time"></span>
                    </div>
                    <div>
                      <label><span data-t>Uptime</span>:</label>
                      <span id="show-summary-uptime"></span>
                    </div>
                    <div>
                      <label><span data-t>Show Type</span>:</label>
                      <span id="show-summary-type"></span>
                    </div>
                    <div>
                      <label><span data-t>Show ID</span>:</label>
                      <span id="show-summary-id"></span>
                    </div>
                    <div>
                      <label><span data-t>Show Name</span>:</label>
                      <span id="show-summary-name"></span>
                    </div>
                    <div>
                      <label><span data-t>Show Description</span>:</label>
                      <span id="show-summary-description"></span>
                    </div>
                    <div>
                      <label><span data-t>Last Updated</span>:</label>
                      <span id="show-summary-last-updated"></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div id="audio-summary" class="summary">
                    <h4 data-t>Audio Stream</h4>
                    <div>
                      <label><span data-t>Media Type</span>:</label>
                      <span id="audio-summary-media-type"></span>
                    </div>
                    <div>
                      <label><span data-t>Order #</span>:</label>
                      <span id="audio-summary-order-num"></span>
                    </div>
                    <div>
                      <label><span data-t>Media ID</span>:</label>
                      <span id="audio-summary-media-id"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Artist</span>:</label>
                      <span id="audio-summary-artist"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Title</span>:</label>
                      <span id="audio-summary-title"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Duration</span>:</label>
                      <span id="audio-summary-duration"></span>
                    </div>
                    <div>
                      <label><span data-t>Scheduled End</span>:</label>
                      <span id="audio-summary-end-time"></span>
                    </div>
                    <div>
                      <canvas id="audio-levels" width=200 height=20></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div id="visual-summary" class="summary">
                    <h4 data-t>Visual Stream</h4>
                    <div>
                      <label><span data-t>Media Type</span>:</label>
                      <span id="visual-summary-media-type"></span>
                    </div>
                    <div>
                      <label><span data-t>Order #</span>:</label>
                      <span id="visual-summary-order-num"></span>
                    </div>
                    <div>
                      <label><span data-t>Media ID</span>:</label>
                      <span id="visual-summary-media-id"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Artist</span>:</label>
                      <span id="visual-summary-artist"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Title</span>:</label>
                      <span id="visual-summary-title"></span>
                    </div>
                    <div>
                      <label><span data-t>Media Duration</span>:</label>
                      <span id="visual-summary-duration"></span>
                    </div>
                    <div>
                      <label><span data-t>Scheduled End</span>:</label>
                      <span id="visual-summary-end-time"></span>
                    </div>
                  </div>
                
                </div>
              </div>
      
        <div id="log-window">
          <h5 data-t>Logs</h5>
          <div class="row mt-2">
            <div class="col-md-2 col-sm-12">
            <label>Log Level:</label>
            <select id="log_level" class="form-control">
                <option value="normal" data-t>Normal</option>
                <option value="debug" data-t>Debug</option>
            </select>
            </div>
            <div class="col-md-3 col-sm-12">
              <button class="btn btn-primary" id="logs-open" data-t>Downloads</button>
            </div>
          </div>
                <br />
          <div id="log-data">
            <!-- Content loaded when displayed -->
          </div>
        </div>
            </div>
        </div>
      </div>
    </div>

    <!-- <p style="font-size: 0.9em; padding-top: 1em;">OpenBroadcaster Player is released under Affero GPL v3 Downloads and updates at <a href="http://www.openbroadcaster.com/">openbroadcaster.com</a>.  </p> -->
    <p style="font-size: 0.9em; padding-top: 1em;" data-tns="Footer">
      <span data-t><%= obplayer.Translate.t('Footer', 'footer_message1') %></span> <a href="https://openbroadcaster.com/obplayer_licence">Affero GPL v3.</a>
      <span data-t><%= obplayer.Translate.t('Footer', 'footer_message2') %></span> <a href="https://support.openbroadcaster.com/obplayer-updates">support.openbroadcaster.com/obplayer-updates</a>.
      <span data-t><%= obplayer.Translate.t('Footer', 'footer_message3') %></span> <a href="https://wiki.openbroadcaster.com/obplayer">wiki.openbroadcaster.com/obplayer</a>.
    </p>
  </body>
</html>
